{% include "website/navbar.html" %}
<div class='categories'>
<h1>Categories</h1>
    {% for tuple in data_set %}
        <h2><a href="{% url 'website:category_detail' tuple.0.id %}">{{tuple.0}}</a></h2>
        <p>{{tuple.1}} total listing{{tuple.1|pluralize}}</p>
        <ul>
                {% for product in tuple.2 %}
                <li><a href="{% url 'website:product_detail' product.id %}">{{ product.title }}</a></li>
                {% endfor %}
        </ul>
    {% endfor %}
    
</div>