<!-- A list to display current order. -->
{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Bangazon</title>
  </head>
  <body>
    {% include "website/navbar.html" %}
    <h1>Current Order</h1>
    
    {% if order.products.all %}
    {% for product in order.products.all %}
    <form method="post">
      {% csrf_token %}
      <p>{{product.title}} ${{product.price}}</p>
      <button type="submit" value="{{ product.id }}" name="delete_product">remove {{product.title}}</button>
    </form>
    {% endfor %}

    {% elif not order.products.all and order != None %}
    <h1>your order has no items</h1>

    {% endif %}

    {% if order != None%}
    <form method="post">
      {% csrf_token %}
      <input type="submit" value="Delete Order" name="delete_order"/>
    </form>
    {% else %}
      <h2>No open orders</h2>
    {% endif %}
  </body>
</html>