{% include "website/navbar.html" %}
{% if user.is_authenticated %}
<h1>{{user.first_name}}</h1>
<h1>{{user.last_name}}</h1>
<p>{{user.profile.address}}</p>
<p>{{user.profile.city}}</p>
<p>{{user.profile.state}}</p>
<p>{{user.profile.zip}}</p>
<p>{{user.profile.phone}}</p>
<p>{{user.profile.payment_options}}</p>
<p>{{user.profile.order_history}}</p>

<h2>Payments</h2>
{% for payment in user.paymenttype_set.all %}
<p>{{payment.name}}</p>
<a href="{% url 'website:delete_payment' payment.id %}">delete</a>
{% endfor %}

<div>
    <a href="{% url 'website:add_payment' %}">add payment types</a>
    <a href="{% url 'website:order_history' %}">Order History</a>
    <a href="{% url 'website:edit_profile' pk=user.id %}">Update Profile</a>
</div>
{% endif %}