{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Bangazon</title>
  </head>
  <body>
    {% include "website/navbar.html" %}
    <h1>My Products</h1>

    <ol>
    {% for product in products %}
        <li><form action="{% url 'website:delete_my_product' product.product.id %}" method="get">
            <a href="{% url 'website:product_detail' product.product.id %}">{{ product.product.title }}</a>
            <p>number sold: {{product.number_sold}}</p>
            <p>current inventory: {{product.number_remaining}}</p>
            <input type="submit" value="Delete">
        </form></li>
    {% endfor %}
    </ol>
  </body>
</html>